- hostname:
    name: "{{ desired_hostname }}"

- git_config:
    name: user.name
    value: IT-gruppa FBS
    scope: global

- git_config:
    name: user.email
    value: it-gruppa@foreningenbs.no
    scope: global

- git_config:
    name: user.name
    value: IT-gruppa FBS
    scope: global
  become_user: core

- git_config:
    name: user.email
    value: it-gruppa@foreningenbs.no
    scope: global
  become_user: core

- name: Create journald conf dir
  file:
    path: /etc/systemd/journald.conf.d
    state: directory

- name: Configure journald retention
  copy:
    dest: /etc/systemd/journald.conf.d/retention.conf
    content: |
      [Journal]
      SystemMaxUse=500M
  register: journald_conf

- name: Restart journald
  systemd:
    name: systemd-journald
    state: restarted
  when: journald_conf.changed
