- name: Ensure config directory exists
  file:
    path: /var/ansible/slack-invite-automation
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy environments file
  copy:
    dest: /var/ansible/slack-invite-automation/variables.env
    src: variables.env
    owner: root
    group: root
    mode: 0644
  register: file_copied

- name: Get current slack-invite-automation image info
  docker_image_info:
    name: "{{ slack_invite_automation_image }}"
  register: slack_invite_automation_image_before

- name: Pull slack-invite-automation image
  docker_image:
    name: "{{ slack_invite_automation_image }}"
    source: pull
  register: slack_invite_automation_image_pull
  changed_when: >-
    slack_invite_automation_image_before.images | length == 0 or
    slack_invite_automation_image_before.images[0].Id != slack_invite_automation_image_pull.image.Id

# Uses port 3000.
- name: Start slack-invite-automation container
  docker_container:
    name: slack-invite-automation
    state: started
    image: "{{ slack_invite_automation_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ slack_invite_automation_ipv4_address }}"
    networks_cli_compatible: yes
    log_driver: journald
    env_file: /var/ansible/slack-invite-automation/variables.env
    restart: "{{ file_copied.changed }}"
