- name: Ensure config directory exists
  file:
    path: /var/ansible/okoreports
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy env file
  copy:
    dest: /var/ansible/okoreports/.env
    src: .env
    owner: root
    group: root
    mode: 0644
  register: file_copied1

- name: Copy credentials file
  copy:
    dest: /var/ansible/okoreports/credentials.json
    src: credentials.json
    owner: root
    group: root
    mode: 0644
  register: file_copied2

- name: Get current okoreports-backend image info
  docker_image_info:
    name: "{{ okoreports_backend_image }}"
  register: okoreports_backend_image_before

- name: Pull okoreports-backend image
  docker_image:
    name: "{{ okoreports_backend_image }}"
    source: pull
  register: okoreports_backend_image_pull
  changed_when: >-
    okoreports_backend_image_before.images | length == 0 or
    okoreports_backend_image_before.images[0].Id != okoreports_backend_image_pull.image.Id

- name: Get current okoreports-frontend image info
  docker_image_info:
    name: "{{ okoreports_frontend_image }}"
  register: okoreports_frontend_image_before

- name: Pull okoreports-frontend image
  docker_image:
    name: "{{ okoreports_frontend_image }}"
    source: pull
  register: okoreports_frontend_image_pull
  changed_when: >-
    okoreports_frontend_image_before.images | length == 0 or
    okoreports_frontend_image_before.images[0].Id != okoreports_frontend_image_pull.image.Id

# Uses port 8000.
- name: Start okoreports-backend container
  docker_container:
    name: okoreports-backend
    state: started
    image: "{{ okoreports_backend_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ okoreports_backend_ipv4_address }}"
    networks_cli_compatible: yes
    volumes:
      - /var/mnt/data/okoreports-reports:/var/okoreports/reports:Z
      - /var/ansible/okoreports/credentials.json:/credentials.json:Z
    env_file: /var/ansible/okoreports/.env
    log_driver: journald
    restart: "{{ file_copied1.changed or file_copied2.changed }}"

# Uses port 80.
- name: Start okoreports-frontend container
  docker_container:
    name: okoreports-frontend
    state: started
    image: "{{ okoreports_frontend_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ okoreports_frontend_ipv4_address }}"
    networks_cli_compatible: yes
    log_driver: journald
