- name: Ensure config directory exists
  file:
    path: /var/ansible/nginx-front-1
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy config files
  copy:
    dest: "/var/ansible/nginx-front-1/{{ item }}"
    src: "{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - default.conf
    - blindernuka.conf
    - foreningenbs.conf
    - nginx.conf
  register: file_copied

- name: Get current nginx-front-1 image info
  docker_image_info:
    name: "{{ nginx_front_1_image }}"
  register: nginx_front_1_image_before

- name: Pull nginx-front-1 image
  docker_image:
    name: "{{ nginx_front_1_image }}"
    source: pull
  register: nginx_front_1_image_pull
  changed_when: >-
    nginx_front_1_image_before.images | length == 0 or
    nginx_front_1_image_before.images[0].Id != nginx_front_1_image_pull.image.Id

- name: Start nginx-front-1 container
  docker_container:
    name: nginx-front-1
    state: started
    image: "{{ nginx_front_1_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ nginx_front_1_ipv4_address }}"
    networks_cli_compatible: yes
    published_ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    volumes:
      - /var/mnt/data/nginx-front-1-acme:/var/cache/nginx/acme-letsencrypt:z
      - /var/ansible/nginx-front-1/default.conf:/etc/nginx/conf.d/default.conf:Z
      - /var/ansible/nginx-front-1/blindernuka.conf:/etc/nginx/conf.d/blindernuka.conf:Z
      - /var/ansible/nginx-front-1/foreningenbs.conf:/etc/nginx/conf.d/foreningenbs.conf:Z
      - /var/ansible/nginx-front-1/nginx.conf:/etc/nginx/nginx.conf:Z
    log_driver: journald
    restart: "{{ file_copied.changed }}"
