- name: Ensure config directory exists
  file:
    path: /var/ansible/phpldapadmin
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy config file
  copy:
    dest: /var/ansible/phpldapadmin/env.yaml
    src: env.yaml
    owner: root
    group: root
    mode: 0644
  register: file_copied

- name: Get current phpldapadmin image info
  docker_image_info:
    name: "{{ phpldapadmin_image }}"
  register: phpldapadmin_image_before

- name: Pull phpldapadmin image
  docker_image:
    name: "{{ phpldapadmin_image }}"
    source: pull
  register: phpldapadmin_image_pull
  changed_when: >-
    phpldapadmin_image_before.images | length == 0 or
    phpldapadmin_image_before.images[0].Id != phpldapadmin_image_pull.image.Id

# When we change config, it seems we have to recreate the container
# for the new configuration to take effect.
- name: Delete container if config changed
  docker_container:
    name: phpldapadmin
    state: absent
  when: file_copied.changed

- name: Start phpldapadmin container
  docker_container:
    name: phpldapadmin
    state: started
    image: "{{ phpldapadmin_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ phpldapadmin_ipv4_address }}"
    volumes:
      - /var/ansible/phpldapadmin/env.yaml:/container/environment/01-custom/env.yaml:Z
    networks_cli_compatible: yes
    log_driver: journald
