- name: Ensure config directory exists
  file:
    path: /var/ansible/mysql-1
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy config file
  copy:
    dest: /var/ansible/mysql-1/custom.cnf
    src: custom.cnf
    owner: root
    group: root
    mode: 0644
  register: file_copied

- name: Get current mysql image info
  docker_image_info:
    name: "{{ mysql_1_image }}"
  register: mysql_1_image_before

- name: Pull mysql image
  docker_image:
    name: "{{ mysql_1_image }}"
    source: pull
  register: mysql_1_image_pull
  changed_when: >-
    mysql_1_image_before.images | length == 0 or
    mysql_1_image_before.images[0].Id != mysql_1_image_pull.image.Id

- name: Start mysql container
  docker_container:
    name: mysql-1
    state: started
    image: "{{ mysql_1_image }}"
    restart_policy: unless-stopped
    env:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
    networks:
      - name: fbs0
        ipv4_address: "{{ mysql_1_ipv4_address }}"
    networks_cli_compatible: yes
    volumes:
      - /var/mnt/data/mysql-1-data:/var/lib/mysql:Z
      - /var/ansible/mysql-1/custom.cnf:/etc/mysql/conf.d/custom.cnf:Z
    log_driver: journald
    restart: "{{ file_copied.changed }}"
    capabilities:
      # https://stackoverflow.com/a/55706057
      - sys_nice
    ulimits:
      - nofile:1048576:1048576
