global:
  scrape_interval: 5s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets: []

rule_files: []

scrape_configs: []

remote_read:
  - url: tcp://signoz-clickhouse.zt.foreningenbs.no:9000/signoz_metrics
