- hosts: fcos
  become: yes
  tags: common
  roles:
    - role: base
      tags: base
    - role: zerotier
      tags: zerotier
    - role: docker-credential-gcr
      tags: docker-credential-gcr
    - role: docker-network
      tags: docker-network
    - role: docker
      tags: docker
    - role: gcp-credentials
      tags: gcp-credentials
    - role: ssh-keys
      tags: ssh-keys
    - role: zincati
      tags: zincati
    - role: otel-collector-agent
      tags: otel-collector-agent
      vars:
        otel_collector_agent_image: "{{ deployer_otel_collector_image }}"

- hosts: fcos-1
  become: yes
  tags: common
  roles:
  - role: printerserver-iptables-forward
    tags: printerserver-iptables-forward

# Services running on fcos-1.
- hosts: fcos-1
  become: yes
  tags: all-services
  roles:
    - role: service-uka-mysql
      tags: service-uka-mysql
      vars:
        uka_mysql_image: mysql:5.6@sha256:20575ecebe6216036d25dab5903808211f1e9ba63dc7825ac20cb975e34cfcae # renovate
        uka_mysql_ipv4_address: "172.25.16.46"
    - role: service-uka-webserver
      tags: service-uka-webserver
      vars:
        uka_webserver_image: "{{ deployer_uka_webserver_image }}"
        uka_webserver_ipv4_address: "172.25.16.47"
    - role: service-uka-billett
      tags: service-uka-billett
      vars:
        uka_billett_proxy_image: "{{ deployer_uka_billett_proxy_image }}"
        uka_billett_proxy_ipv4_address: "172.25.16.48"
        uka_billett_fpm_image: "{{ deployer_uka_billett_fpm_image }}"
        uka_billett_fpm_ipv4_address: "172.25.16.49"
        uka_billett_frontend_image: "{{ deployer_uka_billett_frontend_image }}"
        uka_billett_frontend_ipv4_address: "172.25.16.50"
    - role: service-confluence
      tags: service-confluence
      vars:
        confluence_image: "{{ deployer_confluence_image }}"
        confluence_ipv4_address: "172.25.16.8"

# Services running on fcos-2.
- hosts: fcos-2
  become: yes
  tags: all-services
  roles:
    - role: service-users-api
      tags: service-users-api
      vars:
        users_api_image: "{{ deployer_users_api_image }}"
        users_api_ipv4_address: "172.25.16.2"
    - role: service-smaabruket-availability-api
      tags: service-smaabruket-availability-api
      vars:
        smaabruket_availability_api_image: "{{ deployer_smaabruket_availability_api_image }}"
        smaabruket_availability_api_ipv4_address: "172.25.16.7"
    - role: service-okoreports
      tags: service-okoreports
      vars:
        okoreports_backend_image: "{{ deployer_okoreports_backend_image }}"
        okoreports_backend_ipv4_address: "172.25.16.5"
        okoreports_frontend_image: "{{ deployer_okoreports_frontend_image }}"
        okoreports_frontend_ipv4_address: "172.25.16.6"
    - role: service-slack-invite-automation
      tags: service-slack-invite-automation
      vars:
        slack_invite_automation_image: "{{ deployer_slack_invite_automation_image }}"
        slack_invite_automation_ipv4_address: "172.25.16.9"
    - role: service-snipeit
      tags: service-snipeit
      vars:
        snipeit_image: snipe/snipe-it:v6.4.2@sha256:a3516ae4537684ffe640ee0292d6aab210c869f5f698271d5d882fa06574b2fc # renovate
        snipeit_ipv4_address: "172.25.16.44"
        snipe_mysql_image: mysql:5.6@sha256:20575ecebe6216036d25dab5903808211f1e9ba63dc7825ac20cb975e34cfcae # renovate
        snipe_mysql_ipv4_address: "172.25.16.45"
    # - role: service-storage-1-samba
    #   tags: service-storage-1-samba
    - role: service-ldap-master
      tags: service-ldap-master
      vars:
        ldap_master_image: "{{ deployer_ldap_master_image }}"
        ldap_master_ipv4_address: "172.25.16.30"
    - role: service-postgresql-1
      tags: service-postgresql-1
      vars:
        postgresql_1_image: postgres:12.22@sha256:2f2a8c2a7d10862e7fba2602e304523554f9df8244c632dafe2628ccb398fb5c # renovate
        postgresql_1_ipv4_address: "172.25.16.42"
    - role: service-mysql-1
      tags: service-mysql-1
      vars:
        mysql_1_image: mysql:8.4.7@sha256:0426ec38c7a10aa45ba383887df7878f74ee70e2fd589c7b69207f3577901903 # renovate
        mysql_1_ipv4_address: "172.25.16.40"
    - role: service-mongodb-2
      tags: service-mongodb-2
      vars:
        mongodb_2_image: mongo:7.0.28@sha256:4510cf3d7050003e958745adb25d2deb3fb907430716162d9cc1a92eda2a6047 # renovate
        mongodb_2_ipv4_address: "172.25.16.53"

# Services running on fcos-3.
- hosts: fcos-3
  become: yes
  tags: all-services
  roles:
    - role: service-energi-extractor
      tags: service-energi-extractor
      vars:
        energi_extractor_image: "{{ deployer_energi_extractor_image }}"
        energi_extractor_ipv4_address: "172.25.16.54"
    - role: service-web-1
      tags: service-web-1
      vars:
        web_1_image: "{{ deployer_web_1_image }}"
        web_1_ipv4_address: "172.25.16.1"
    - role: service-nginx-front-1
      tags: service-nginx-front-1
      vars:
        nginx_front_1_image: "{{ deployer_nginx_front_1_image }}"
        nginx_front_1_ipv4_address: "172.25.16.14"
    - role: service-intern
      tags: service-intern
      vars:
        intern_backend_image: "{{ deployer_intern_backend_image }}"
        intern_backend_ipv4_address: "172.25.16.3"
        intern_frontend_image: "{{ deployer_intern_frontend_image }}"
        intern_frontend_ipv4_address: "172.25.16.4"
        intern_calendar_api_image: "{{ deployer_intern_calendar_api_image }}"
        intern_calendar_api_ipv4_address: "172.25.16.17"
    - role: service-dugnaden
      tags: service-dugnaden
      vars:
        dugnaden_image: "{{ deployer_dugnaden_image }}"
        dugnaden_ipv4_address: "172.25.16.10"
    - role: service-dugnaden-mysql
      tags: service-dugnaden-mysql
      vars:
        dugnaden_mysql_image: mysql:8.4.7@sha256:0426ec38c7a10aa45ba383887df7878f74ee70e2fd589c7b69207f3577901903 # renovate
        dugnaden_mysql_ipv4_address: "172.25.16.55"
    - role: service-phpldapadmin
      tags: service-phpldapadmin
      vars:
        phpldapadmin_image: osixia/phpldapadmin:0.9.0@sha256:d112b82be1336f91e028b0348755133fda333992355b533419355a65c32ff9ad # renovate
        phpldapadmin_ipv4_address: "172.25.16.11"
    - role: service-phpmyadmin
      tags: service-phpmyadmin
      vars:
        phpmyadmin_image: phpmyadmin/phpmyadmin:5.2@sha256:42a200db07b4e70fbf32c594ad4521cf16399b8e54bbb5adceae98e7566dfbeb # renovate
        phpmyadmin_ipv4_address: "172.25.16.12"
    - role: service-ldap-slave
      tags: service-ldap-slave
      vars:
        ldap_slave_image: "{{ deployer_ldap_slave_image }}"
        ldap_slave_ipv4_address: "172.25.16.31"
    - role: service-ldap-toolbox
      tags: service-ldap-toolbox
      vars:
        ldap_toolbox_image: "{{ deployer_ldap_toolbox_image }}"
        ldap_toolbox_ipv4_address: "172.25.16.56"
    - role: service-simplesamlphp
      tags: service-simplesamlphp
      vars:
        simplesamlphp_image: "{{ deployer_simplesamlphp_image }}"
        simplesamlphp_ipv4_address: "172.25.16.13"
    - role: service-webdavcgi
      tags: service-webdavcgi
      vars:
        webdavcgi_image: "{{ deployer_webdavcgi_image }}"
        webdavcgi_ipv4_address: "172.25.16.16"
    - role: service-signoz
      tags: service-signoz
      vars:
        signoz_zookeeper_image: signoz/zookeeper:3.9.3@sha256:2982759ec21211d52514154a5c87d2bbe6725d94cfa864cdfea2f7040b7bd365 # renovate
        signoz_zookeeper_ipv4_address: "172.25.16.60"
        signoz_clickhouse_image: clickhouse/clickhouse-server:25.12.4@sha256:6ac0386b9be731b72b318f026e9bd200eebb0f449b341d452b49722c704a3a15 # renovate
        signoz_clickhouse_ipv4_address: "172.25.16.61"
        signoz_otel_collector_image: signoz/signoz-otel-collector:v0.129.13@sha256:432feb1755922bcc9a41406fd953410d1848488bbd5215621605ee0dfcf37622 # renovate
        signoz_otel_collector_ipv4_address: "172.25.16.62"
        signoz_image: signoz/signoz:v0.108.0@sha256:1e95fb1b8b35936d9ab6a845385dc346aece43bcb6490e3fcc52a47161d43bbb # renovate
        signoz_ipv4_address: "172.25.16.63"
        signoz_schema_migrator_image: signoz/signoz-schema-migrator:v0.129.13@sha256:562d193f00683d917bfb37d06c37cc8ce1f0885f13f399272e339b86a65498b7 # renovate

# Deployer.
# Two instances of deployer is used so that the deployer can
# self-update by targeting the other instance.
# This is not tagged as all-services, as we would stop our own
# deployment in that case.
- hosts: fcos-3
  become: yes
  roles:
    - role: service-deployer
      tags: [service-deployer, service-deployer-primary]
      vars:
        deployer_variant: primary
        deployer_container_name: deployer
        deployer_image: "{{ deployer_deployer_primary_image }}"
        deployer_ipv4_address: "172.25.16.51"
    - role: service-deployer
      tags: [service-deployer, service-deployer-secondary]
      vars:
        deployer_variant: secondary
        deployer_container_name: deployer-secondary
        deployer_image: "{{ deployer_deployer_secondary_image }}"
        deployer_ipv4_address: "172.25.16.52"
