- name: Ensure config directory exists
  file:
    path: /var/ansible/intern
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy config files
  copy:
    dest: "/var/ansible/intern/{{ item }}"
    src: "{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - backend-secrets.env
  register: file_copied

- name: Get current intern-backend image info
  docker_image_info:
    name: "{{ intern_backend_image }}"
  register: intern_backend_image_before

- name: Pull intern-backend image
  docker_image:
    name: "{{ intern_backend_image }}"
    source: pull
  register: intern_backend_image_pull
  changed_when: >-
    intern_backend_image_before.images | length == 0 or
    intern_backend_image_before.images[0].Id != intern_backend_image_pull.image.Id

- name: Get current intern-calendar-api image info
  docker_image_info:
    name: "{{ intern_calendar_api_image }}"
  register: intern_calendar_api_image_before

- name: Pull intern-calendar-api image
  docker_image:
    name: "{{ intern_calendar_api_image }}"
    source: pull
  register: intern_calendar_api_image_pull
  changed_when: >-
    intern_calendar_api_image_before.images | length == 0 or
    intern_calendar_api_image_before.images[0].Id != intern_calendar_api_image_pull.image.Id

- name: Start intern-backend container
  docker_container:
    name: intern-backend
    state: started
    image: "{{ intern_backend_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ intern_backend_ipv4_address }}"
    networks_cli_compatible: yes
    env_file: /var/ansible/intern/backend-secrets.env
    hostname: intern-backend.zt.foreningenbs.no
    log_driver: journald
    restart: "{{ file_copied.changed }}"

- name: Start intern-calendar-api container
  docker_container:
    name: intern-calendar-api
    state: started
    image: "{{ intern_calendar_api_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ intern_calendar_api_ipv4_address }}"
    networks_cli_compatible: yes
    hostname: intern-calendar-api.zt.foreningenbs.no
    log_driver: journald

- name: Deploy intern otel-filelog config
  copy:
    src: otel-filelog.yaml
    dest: /var/ansible/otel-collector-agent/config.d/intern.yaml
    owner: root
    group: root
    mode: 0644
  register: otel_filelog_copied

- name: Restart otel-collector-agent for intern logs
  shell: docker restart otel-collector-agent
  when: otel_filelog_copied.changed
