- name: Get current confluence image info
  docker_image_info:
    name: "{{ confluence_image }}"
  register: confluence_image_before

- name: Pull confluence image
  docker_image:
    name: "{{ confluence_image }}"
    source: pull
  register: confluence_image_pull
  changed_when: >-
    confluence_image_before.images | length == 0 or
    confluence_image_before.images[0].Id != confluence_image_pull.image.Id

# Uses port 8090 and 8091.
- name: Start confluence container
  docker_container:
    name: confluence
    state: started
    image: "{{ confluence_image }}"
    restart_policy: unless-stopped
    env:
      ATL_PROXY_NAME: foreningenbs.no
      ATL_PROXY_PORT: "443"
      ATL_TOMCAT_SCHEME: https
      ATL_TOMCAT_SECURE: "true"
      ATL_TOMCAT_CONTEXTPATH: /confluence
      JVM_MAXIMUM_MEMORY: 3g
      # https://blindern.slack.com/archives/C23QDQRPS/p1719616878512119
      JVM_SUPPORT_RECOMMENDED_ARGS: >-
        -Ddocument.conversion.sandbox.request.time.limit.secs=300
        -Dconversion.sandbox.memory.limit.megabytes=1024
        -javaagent:/opt/opentelemetry-javaagent.jar
      OTEL_SERVICE_NAME: confluence
      OTEL_EXPORTER_OTLP_ENDPOINT: http://signoz-otel-collector.zt.foreningenbs.no:4317
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
    networks:
      - name: fbs0
        ipv4_address: "{{ confluence_ipv4_address }}"
    networks_cli_compatible: yes
    volumes:
      - /var/mnt/data/confluence-data:/var/atlassian/application-data/confluence:z
      - /var/mnt/data/confluence-logs:/opt/atlassian/confluence/logs:z
    log_driver: journald
    ulimits:
      - nofile:1048576:1048576
    # Confluence spends a long time starting when doing e.g. upgrades.
    # Increase from default 60 seconds timeout.
    timeout: 600

- name: Deploy confluence otel-filelog config
  copy:
    src: otel-filelog.yaml
    dest: /var/ansible/otel-collector-agent/config.d/confluence.yaml
    owner: root
    group: root
    mode: 0644
  register: otel_filelog_copied

- name: Restart otel-collector-agent for confluence logs
  shell: docker restart otel-collector-agent
  when: otel_filelog_copied.changed
