- name: Ensure shared config directory exists ({{ deployer_variant }})
  file:
    path: /var/ansible/deployer
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Ensure config directory exists ({{ deployer_variant }})
  file:
    path: "/var/ansible/deployer-{{ deployer_variant }}"
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Copy files ({{ deployer_variant }})
  copy:
    dest: "/var/ansible/deployer-{{ deployer_variant }}/{{ item }}"
    src: "{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - variables.env
    - services.json
  register: file_copied

- name: Get current deployer image info ({{ deployer_variant }})
  docker_image_info:
    name: "{{ deployer_image }}"
  register: deployer_image_before

- name: Pull deployer image ({{ deployer_variant }})
  docker_image:
    name: "{{ deployer_image }}"
    source: pull
  register: deployer_image_pull
  changed_when: >-
    deployer_image_before.images | length == 0 or
    deployer_image_before.images[0].Id != deployer_image_pull.image.Id

- name: Start deployer container ({{ deployer_variant }})
  docker_container:
    name: "{{ deployer_container_name }}"
    state: started
    image: "{{ deployer_image }}"
    restart_policy: unless-stopped
    networks:
      - name: fbs0
        ipv4_address: "{{ deployer_ipv4_address }}"
    networks_cli_compatible: yes
    log_driver: journald
    env:
      GIT_CRYPT_KEY_PATH: /git-crypt-key
      GIT_REPO: https://github.com/blindern/drift.git
      GITHUB_APP_ID: "2824237"
      GITHUB_APP_INSTALLATION_ID: "108887063"
      GITHUB_APP_PRIVATE_KEY_PATH: /github-app-private-key.pem
      SERVICES_FILE: /services.json
    env_file: /var/ansible/deployer-{{ deployer_variant }}/variables.env
    restart: "{{ file_copied.changed }}"
    volumes:
      - /var/ansible/deployer-{{ deployer_variant }}/services.json:/services.json:z

      # NOTE: These files are MANUALLY copied into the host to avoid keeping them elsewhere.
      # chmod 600 and owned by root

      # Key used to encrypt the drift repo.
      # scp .git/git-crypt/keys/default root@fcos-3.nrec.foreningenbs.no:/var/ansible/deployer/git-crypt-key
      - /var/ansible/deployer/git-crypt-key:/git-crypt-key:z

      # SSH key with root access to all instances.
      # The public key is added to the ssh-keys role.
      # To generate new: ssh-keygen -C fbs-deployer -t ed25519 -f ssh-key
      - /var/ansible/deployer/ssh-key:/root/.ssh/id_ed25519:z

      # GitHub app private key.
      # From https://github.com/organizations/blindern/settings/apps/fbs-deployer
      - /var/ansible/deployer/github-app-private-key.pem:/github-app-private-key.pem:z
