name: Deploy Ansible common tag
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "ansible/roles/base/**"
      - "ansible/roles/docker/**"
      - "ansible/roles/docker-network/**"
      - "ansible/roles/printerserver-iptables-forward/**"
      - "ansible/roles/ssh-keys/**"
      - "ansible/roles/zerotier/**"
      - "ansible/roles/zincati/**"
      - "ansible/site.yml"
      - "ansible/hosts"
jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Deploy
        run: |
          curl --fail -L -i -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST https://deployer.foreningenbs.no/deploy -d '
          {
            "service": "all-common"
          }'
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}
