name: Build confluence
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/confluence.yml"
      - "services/confluence/**"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: services/confluence
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/blindern/confluence:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          curl --fail -L -i -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST https://deployer.foreningenbs.no/deploy -d '
          {
            "service": "confluence",
            "attributes": {
              "image": "ghcr.io/blindern/confluence@${{ steps.docker_build.outputs.digest }}"
            }
          }'
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}

  checkly:
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: read
    uses: ./.github/workflows/run-checkly.yml
    with:
      tags: confluence
    secrets: inherit
