name: simplesamlphp
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/simplesamlphp.yml"
      - "services/simplesamlphp/**"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        id: docker_build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: services/simplesamlphp
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/blindern/simplesamlphp:latest
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,mode=max,scope=${{ github.workflow }}

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          curl -sS -i -N -L -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST "https://deployer.foreningenbs.no/deploy?stream" -d '
          {
            "service": "simplesamlphp",
            "attributes": {
              "image": "ghcr.io/blindern/simplesamlphp@${{ steps.docker_build.outputs.digest }}"
            }
          }' | tee /tmp/deploy-output.txt
          tail -1 /tmp/deploy-output.txt | grep -q "DEPLOY OK"
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}

  e2e-tests:
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: read
    uses: ./.github/workflows/run-e2e-tests.yml
    with:
      tag: "@simplesamlphp"
    secrets: inherit
